.contact {
  ul {
    padding: 20px 0px;
    li {
      display: inline-block;
      font-size: 13px;
      font-family: "Quicksand", sans-serif;
      font-weight: 600;
    }
  }
  .map {
    iframe {
      width: 100%;
    }
  }

  .right-contact {
    padding: 0 15px 0 58px;
    h4 {
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      color: $dark;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      line-height: normal;
      display: inline-block;
      position: relative;
      font-weight: 500;
    }
    p {
      font-family: "Quicksand", sans-serif;
      font-size: 15px;
      font-weight: 500;
      color: $dark;
      display: block;
      margin-bottom: 30px;
      padding-top: 10px;
    }
    .time_work {
      .r {
        width: 100%;
        display: flex;
        float: left;
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 24px;
        // font-weight: 400;

        i {
          width: 30px;
          display: block;
          font-size: 18px;
          color: $green;
        }

        b {
          font-size: 15px;
          font-weight: 600;
        }

        a {
          font-size: 15px;
          color: $dark;

          &:hover {
            color: $green;
          }
        }
      }
    }

    form {
      .form-group {
        margin-bottom: 20px;

        input {
          width: 100%;
          height: 45px;
          padding: 0 20px;
          border: none;
          outline: none;
          border: 1px solid #e1e1e1;
          border-radius: 25px;
        }

        textarea {
          width: 100%;
          height: 100px;
          padding: 10px 20px;
          border: none;
          outline: none;
          border: 1px solid #e1e1e1;
          border-radius: 25px;
        }

        button {
          display: inline-block;
          font-size: 17px;
          height: 50px;
          padding: 0 40px;
          border: none;
          outline: none;
          border-radius: 25px;
          background-color: $green;
          color: $light;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .wrapper {
    .contact {
      padding: 0 20px;

      .row {
        display: flex;
        flex-wrap: wrap;
        .c-12 {
          flex: 0 0 100%;
          max-width: 100%;

          .right-contact {
            padding: 0;
            margin-top: 15px;

            h4 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
