.login {
  ul {
    padding: 20px 0px;
    li {
      display: inline-block;
      font-size: 13px;
      font-family: "Quicksand", sans-serif;
      font-weight: 600;
    }
  }
  .login_form {
    position: relative;
    margin: 40px auto;
    width: 390px;
    padding: 30px;
    height: auto;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    h1 {
      font-family: "Quicksand", sans-serif;
      font-size: 26px;
      font-weight: 400;
      color: $dark;
      margin-bottom: 15px;
    }

    span {
      font-family: "Quicksand", sans-serif;
      font-size: 12px;
      cursor: pointer;
      margin: 20px 0;
      display: block;
      font-weight: 600;
      a {
        color: $gray;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    form {
      width: 100%;
      display: block;
      padding-bottom: 30px;

      .form-group {
        margin-bottom: 10px;
        input {
          width: 100%;
          height: 40px;
          padding: 0 20px;
          color: $dark;
          line-height: 40px;
          margin-bottom: 8px;
          border-radius: 0 !important;
          border: none;
          outline: none;
          border: 1px solid #e1e1e1;
        }

        input::placeholder {
          color: #acacac;
          opacity: 1;
        }
        button {
          display: inline-block;
          width: 100%;
          height: 40px;
          border: none;
          cursor: pointer;
          background-color: $green;
          color: $light;
        }
      }

      a {
        color: $dark;
        font-family: "Quicksand", sans-serif;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .login_social {
      margin-top: 20px;
      p {
        color: $dark;
        font-family: "Quicksand", sans-serif;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 15px;
      }

      a {
        display: inline-block;
        height: 35px;
        line-height: 35px;
        padding: 0px 30px;
        color: $light;
        &:first-of-type {
          background-color: #3b5998;
        }
        &:last-child {
          background-color: #e14b33;
        }
        i {
          font-size: 14px;
          padding-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .wrapper {
    .login {
      padding: 0 20px;
      .login_form {
        margin: 20px 0;
        width: 100%;
      }
    }
  }
}
